#card1, #card2 {
	display: inline-block;
	margin: 30px;
}

.card {
	height: 400px;
	width: 300px;
	border: 3px solid black;
	border-radius: 10px;
	box-shadow: 4px 7px #888888;
	position: relative;
	font-size: 14px;
	left: 0;
	transition: all 0.2s linear;
}

#card1 .card {
	background: #35bff2;
}

#card2 .card {
	background: #bb3333;
}

.card .general {
	position: relative;
	height: 270px;
}

.card .general .left {
	display: inline-block;
	height: 100%;
	border: 1px solid black;
	width: 60px;
	float: left;
}

.card .general .right {
	display: inline-block;
	height: 100%;
	border: 1px solid black;
	width: 60px;
	float: right;
}

.card .general .center {
	display: inline-block;
	height: 100%;
	width: 174px;
	border: 1px solid black;
	position: relative;
}

.image-animation {
	display: none;
}

.card .general .center .image-animation.active {
	display: block;
	position: absolute;
	top: 100px;
	left: 72px;
	height: 40px;
	width: 40px;
	background: yellow;
	text-align: center;
	font-size: 18px;
	padding: 8px 0;
}

.card .general .center .image {
	height: 240px;
	width: 174px;
}

.card .general .center .image img {
	width: 100%; 
	height: 100%;
}

.card .general .center .name {
	height: 30px;
	border-top: 1px solid black;
	text-align: center;
}

.small-icon {
	height: 46px;
	width: 46px;
	margin: 17px 6px;
	border: 1px solid black;
}

.right .small-icon {
	text-align: center;
	font-size: 18px;
	padding: 8px 0;
}

.card .detailed {
	border-top: 1px solid black;
}

.move-right {
	left: 50px;
}

.move-left {
	left: -50px;
}

.highlight {
	background: yellow;
}

.lift {
	transform: translate(-4px, -7px);
	box-shadow: 8px 14px #888888;
}