#card1, #card2 {
	display: inline-block;
	margin: 30px;
}

.card {
	height: 400px;
	width: 300px;
	border: 3px solid black;
	border-radius: 10px;
	box-shadow: 4px 7px #888888;
	position: relative;
	font-size: 14px;
	transition: top 1s;
}

#card1 .card {
	background: #35bff2;
}

#card2 .card {
	background: #bb3333;
}

.card .general {
	position: relative;
	height: 270px;
}

.card .general .left {
	display: inline-block;
	height: 100%;
	border: 1px solid black;
	width: 60px;
	float: left;
}

.card .general .right {
	display: inline-block;
	height: 100%;
	border: 1px solid black;
	width: 60px;
	float: right;
}

.card .general .center {
	display: inline-block;
	height: 100%;
	width: 174px;
	border: 1px solid black;
}

.card .general .center .image {
	height: 240px;
	width: 174px;
}

.card .general .center .image img {
	width:100%; 
	height:100%;
}

.card .general .center .name {
	height: 30px;
	border-top: 1px solid black;
	text-align: center;
}

.small-icon {
	height: 46px;
	width: 46px;
	margin: 17px 6px;
	border: 1px solid black;
}

.right .small-icon {
	text-align: center;
	font-size: 18px;
	padding: 8px;
}

.card .detailed {
	border-top: 1px solid black;
}

.move-right {
	left: 20px;
}

.move-left {
	left: -20px;
}

.highlight {
	background: yellow;
}